body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.movie-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
.card {
    border: 3px solid #ddd; /* Рамка карточки */
    border-radius: 15px; /* Скругление углов */
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для глубины */
    overflow: hidden;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Увеличение при наведении */
    border-color: #007bff; /* Изменение цвета рамки при наведении */
}

.card-img-top {
    width: 100%;
    height: 200px; /* Изменено на фиксированную высоту */
    object-fit: cover; /* Изображение будет покрывать весь элемент img */
    border-top-left-radius: 12px; /* Скругление верхних углов изображения */
    border-top-right-radius: 12px;
}

.card-body {
    padding: 15px;
    text-align: center; /* Выравнивание текста по центру */
}

.card-title {
    font-size: 20px; /* Размер шрифта заголовка */
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px; /* Размер шрифта текста */
    color: #555;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    /* Остальные стили кнопки */
}
#map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

