/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Стили для фонового изображения */
.background-image {
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Стили для формы авторизации (немного меньше) */
.registration-form,
.login-form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 20px; /* Увеличенные верхнее и нижнее поля */
    border-radius: 50px; /* Большее скругление углов */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    height: auto; /* Вы можете задать фиксированную высоту, если нужно */
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.btn-primary:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    text-align: center;
}
